---
# role: {{ meta_namespace | default('jomrr') }}.{{ meta_repo_name }}
# file: molecule/{{ item.scenario.name | default('default') }}/molecule.yml

{{ item | jomrr.dev.to_lintable_yaml(indent=2) }}
{%- if item.platforms | default([]) | length == 0 %}
platforms:
{% for platform in meta_platforms %}
{% for tag in platform.tags %}{% set platform_image = platform.distribution | lower | replace(' ','-') %}
  - name: {{ platform_image }}-{{ tag }}-{{ meta_role_name }}
    image: "docker.io/{{ meta_namespace }}/molecule-{{ platform_image }}:{{ tag }}"
    pre_build_image: {{ platform.pre_build_image | default('true') }}
    entrypoint: null
    command: null
    systemd: true
{% endfor %}
{% endfor %}
{%- endif %}
