# repo: jomrr/ansible-roles
# file: .gitignore

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments and Python tooling
.ansible/
.venv/
.tox/

# Build and distribution artifacts
build/
dist/
*.egg-info/

# Local caches
cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDEs and editors
.idea/

# VSCode
.vscode/*
!.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# Generated Ansible content
collections/
roles/

# Keep placeholder files
!.gitkeep
