# Release artifacts ------------------------------------------------------------
dist/
# Dependencies -----------------------------------------------------------------
collections/*
!collections/requirements.yml
# IDE files and directories ----------------------------------------------------
.idea/
.vscode/
# Python files and directories -------------------------------------------------
.venv/
__pycache__/
