# repo: jomrr/ansible-roles
# file: ansible.cfg

[defaults]

bin_ansible_callbacks   = true
callbacks_enabled       = ansible.builtin.default
stdout_callback         = ansible.builtin.default

gathering               = smart
hash_behaviour          = merge
fact_caching            = jsonfile
fact_caching_connection = /tmp/ansible/facts.json
fact_caching_timeout    = 7200

forks                   = 8
pipelining              = false
strategy                = free

collections_path        = .ansible/collections
inventory               = inventory
modules_path            = .ansible/modules
playbook_dir            = playbooks
roles_path              = .ansible/roles
remote_tmp              = /tmp/ansible

[inventory]
enable_plugins          = jomrr.dev.ansible_role_inventory, yaml
