---
# role: {{ meta_repo_name }}
# file: molecule/default/molecule.yml

dependency:
  name: galaxy
  options:
    requirements-file: meta/requirements.yml
driver:
  name: podman
lint: |
  set -e
  ansible-lint
provisioner:
  name: ansible
  config_options:
    defaults:
      interpreter_python: auto_silent
      callback_whitelist: profile_tasks, timer, yaml
    ssh_connection:
      pipelining: true
  log: true
  playbooks:
    converge: ../resources/playbooks/converge.yml
    prepare: ../resources/playbooks/prepare.yml
    verify: ../resources/playbooks/verify.yml
verifier:
  name: ansible
platforms:
{% for platform in meta_platforms %}
{% for tag in platform.tags %}
  - name: {{ platform.distribution | lower }}-{{ tag }}-{{ meta_role_name }}
    image: "docker.io/molecule-{{ platform.distribution | lower }}:{{ tag }}"
    pre_build_image: true
    command: ""
{% endfor %}
{% endfor %}
