---
# role: {{ meta_repo_name }}
# file: molecule/default/molecule.yml

# Note on command and entrypoint = ~ ... :/ ???
#
# Using the pre-built container defaults, when nothing is specified should be straight forward
# at least what I thought, but with molecule it isn't...
#
# The default command is "sleep infinity", entrypoint is "/bin/sh", regardless of container
# configuration. I would think that the default should be used when nothing is specified,
# and when that leads to immediately terminating the image, then the wrong image is used.
# It is the responsibiltiy of the Dev to choose or build the right one and not of
# molecule to guess what the Dev wants. Besides it clutters configuration files.

dependency:
  name: galaxy
  options:
    requirements-file: meta/requirements.yml
driver:
  name: podman
lint: |
  set -e
  ansible-lint
provisioner:
  name: ansible
  config_options:
    defaults:
      interpreter_python: auto_silent
      callback_whitelist: profile_tasks, timer, yaml
    ssh_connection:
      pipelining: true
  log: true
  playbooks:
{% for playbook in meta_molecule_playbooks | dict2items %}
    {{ playbook.key }}: "{{ playbook.value }}"
{% endfor -%}
verifier:
  name: ansible
platforms:
{% for platform in meta_platforms %}
{% for tag in platform.tags %}
  - name: {{ platform.distribution | lower }}-{{ tag }}-{{ meta_role_name }}
    image: "docker.io/{{ meta_namespace }}/molecule-{{ platform.distribution | lower }}:{{ tag }}"
    pre_build_image: true
    entrypoint: ~
    command: ~
{% endfor %}
{% endfor %}
