# role: {{ role.namespace | default('jomrr') }}.{{ role.name | default('inventory_hostname') }}
# file: .gitignore

__pycache__/
!.gitkeep
.ansible/
.idea/
.tox/
.venv/
.vscode/
cache/
collections/*
dist/
