# role: {{ meta_namespace | default('jomrr') }}.{{ meta_role_name | default('inventory_hostname') }}
# file: .gitignore

__pycache__/
!.gitkeep
.ansible/
.idea/
.tox/
.venv/
.vscode/
cache/
collections/*
dist/
