{% set v = lookup('pipe', 'git describe --tags --abbrev=0 2>/dev/null || true') | trim %}
{% set version = (v[1:] if v.startswith('v') else v) if v else '0.0.0' %}

[project]
name = "{{ role.name }}"
version = "{{ version }}"
description = "{{ role.description }}"
authors = ["{{ role.author }}"]
license = "{{ role.license }}"
keywords = [{{ '"' + role.galaxy_tags | join('", "') + '"' if role.galaxy_tags | length > 0 }}]
repository = "{{ role.scm_base_url }}/{{ role.namespace }}/{{ role.repo_prefix }}{{ role.name }}"

[tool.commitizen]
name = "cz_conventional_commits"
version = "{{ version }}"
tag_format = "v$version"

[tool.semantic_release]
commit_message = "build(release): version {version}"
major_on_zero = true
upload_to_pypi = false
upload_to_vcs_release = true
tag_format = "v{version}"
version_toml = [
    "pyproject.toml:project.version",
]

[tool.tox]
envlist = ["lint"]

[tool.tox.env.lint]
description = "Lint code"
skip_install = true
deps = ["ansible-lint"]
commands = [["ansible-lint", "--offline"]]
