[project]
name = "{{ meta_role_name }}"
version = "{{ meta_release_version | default('0.0.0') }}"
description = "{{ meta_description }}"
authors = ["{{ meta_author }}"]
license = "{{ meta_license }}"
keywords = [{{ '\"' + meta_galaxy_tags | join('\", \"') + '\"' if meta_galaxy_tags | length > 0 }}]
repository = "{{ meta_repo_url }}"

[tool.commitizen]
name = "cz_conventional_commits"

[tool.semantic_release]
commit_message = "build(release): version {version}"
major_on_zero = false
upload_to_pypi = false
upload_to_vcs_release = true
version_toml = [
    "pyproject.toml:project.version",
]
