{%- set role_name = role.name | default(inventory_hostname) -%}
{%- set role_namespace = role.namespace | default('jomrr') -%}
{%- set role_repo_prefix = role.repo_prefix | default('ansible-role-') -%}
{%- set role_repo = role_repo_prefix ~ role_name -%}

# Ansible role: {{ role_name | upper }}

![GitHub](https://img.shields.io/github/license/{{ role_namespace }}/{{ role_repo }}) ![GitHub last commit](https://img.shields.io/github/last-commit/{{ role_namespace }}/{{ role_repo }}) ![GitHub issues](https://img.shields.io/github/issues-raw/{{ role_namespace }}/{{ role_repo }})

{% if role.description is defined -%}
**{{ role.description }}**
{% else -%}
**Ansible role for setting up {{ role_name }}**
{% endif %}

## Description

{% if readme.description is defined -%}
{{ readme.description }}
{% else -%}
Install and configure {{ role_name }} with Ansible.
{% endif %}

## Prerequisites

{{ readme.prerequisites | default('This role has no special prerequisites.') }}

## Dependencies (requirements.yml)

{% if requirements.collections | default([]) | length > 0 or requirements.roles | default([]) | length > 0 %}
```yaml
{% if requirements.collections | default([]) | length > 0 %}
collections:
{{ requirements.collections | jomrr.dev.to_lintable_yaml(indent=2) | indent(2, true) }}
{% else %}
collections: []
{% endif %}

{% if requirements.roles | default([]) | length > 0 %}
roles:
{{ requirements.roles | jomrr.dev.to_lintable_yaml(indent=2) | indent(2, true) }}
{% else %}
roles: []
{% endif %}
```
{% else %}
This role has no dependencies.
{% endif %}

## Supported Platforms

{% if platforms is defined -%}
| OS Family | Distribution | Version | Container Image |
|-----------|--------------|---------|-----------------|
{% for platform in platforms %}
{% set platform_image = platform.distribution | lower | replace(' ','-') %}
{% for tag in platform.tags %}
{% if loop.first %}
| {{ platform.os_family }} | {{ platform.distribution }} | {{ tag }} | [{{ role_namespace }}/molecule-{{ platform_image }}:{{ tag }}](https://hub.docker.com/r/{{ role_namespace }}/molecule-{{ platform_image }}) |
{% else -%}
| | | {{ tag }} | [{{ role_namespace }}/molecule-{{ platform_image }}:{{ tag }}](https://hub.docker.com/r/{{ role_namespace }}/molecule-{{ platform_image }}) |
{% endif %}
{% endfor %}
{% endfor %}
{% else %}
This role has no specific platform requirements.
{% endif %}

## Role Variables

{% if role.argument_spec.options | default({}) | length > 0 -%}
The following variables can be adjusted:

| Name | Required | Default | Description |
| ---- | -------- | ------- | ----------- |
{% for variable_name, variable in role.argument_spec.options.items() %}
| `{{ variable_name }}` | {{ variable.required | default(false) }} | `{{ variable.default | default('') | string }}` | {{ variable.description | default('') }} |
{% endfor %}
{% else -%}
No role default variables specified, see [defaults/main.yml](defaults/main.yml).
{% endif %}

## Example Playbook

Example playbooks that show how to use this role.

{% for example in readme.examples %}
### {{ example.name }}

{{ example.description }}
```yaml
{{ example.code }}
```
{% endfor %}

## Author(s) and License

- :octocat: Author: [{{ role_namespace }}]({{ role.scm_base_url }}/{{ role_namespace }})
- :triangular_flag_on_post: Copyright: {{ role.year_created }}, {{ role.author }}
- :page_with_curl: License: [{{ role.license | default('MIT') }}](LICENSE)

{% if readme.references | default([]) | length > 0 -%}
## References

{% for reference in readme.references %}
- {{ reference }}
{% endfor %}

{% endif %}
---
