# Ansible role {{ meta_role_name | default(inventory_hostname) }}

![GitHub](https://img.shields.io/github/license/{{ meta_namespace | default('jam82') }}/ansible-role-{{ meta_role_name | default(inventory_hostname) }}) ![GitHub last commit](https://img.shields.io/github/last-commit/{{ meta_namespace | default('jam82') }}/ansible-role-{{ meta_role_name | default(inventory_hostname) }}) ![GitHub issues](https://img.shields.io/github/issues-raw/{{ meta_namespace | default('jam82') }}/ansible-role-{{ meta_role_name | default(inventory_hostname) }})

{% if meta_description is defined -%}
**{{ meta_description }}**
{% else -%}
**Ansible role for setting up {{ inventory_hostname }}**
{% endif %}

## Description

{% if read_description is defined -%}
{{ read_description }}
{% else -%}
Install and configure {{ inventory_hostname }} with Ansible.
{% endif %}

## Prerequisites

{{ read_prerequisites | default('This role has no special prerequisites.') }}

### System packages (Fedora)

- `python3` (Python 3.8 or later)
{% if reqs_packages is defined -%}
{% for package in reqs_packages %}
- {{ package }}
{% endfor %}
{% endif %}

### Python (requirements.txt)

- ansible >= {{ meta_min_ansible_version }}
{% if reqs_pip is defined -%}
{% for pip in reqs_pip %}
- {{ pip }}
{% endfor %}
{% endif %}

## Dependencies (requirements.yml)

{% if reqs_collections is defined or reqs_roles is defined -%}
```yaml
{% if reqs_collections -%}
collections:
{% for collection in reqs_collections %}
  - {{ collection }}
{% endfor %}
{% else -%}
collections []
{% endif %}

{% if reqs_roles is defined -%}
roles:
{% for role in reqs_roles %}
  - {{ role }}
{% endfor %}
{% else -%}
roles []
{% endif %}
```
{% else -%}
This role has no dependencies.
{% endif %}

## Supported Platforms

{% if meta_platforms is defined -%}
| OS Family | Distribution | Version | Container Image |
|-----------|--------------|---------|-----------------|
{% for platform in meta_platforms %}
{% for tag in platform.tags %}
{% if loop.first %}
| {{ platform.os_family }} | {{ platform.distribution }} | {{ tag }} | [{{ meta_namespace | default('jam82') }}/molecule-{{ platform.distribution | lower }}:{{ tag }}]( https://hub.docker.com/r/{{ meta_namespace | default('jam82') }}/molecule-{{ platform.distribution | lower }} ) |
{% else -%}
| | | {{ tag }} | [{{ meta_namespace | default('jam82') }}/molecule-{{ platform.distribution | lower }}:{{ tag }}]( https://hub.docker.com/r/{{ meta_namespace | default('jam82') }}/molecule-{{ platform.distribution | lower }} ) |
{% endif %}
{% endfor %}
{% endfor %}
{% else %}
This role has no specific platform requirements.
{% endif %}

## Role Variables

{% if meta_role_variables is defined -%}
The following are the default variables that should be adjusted:

{% for variable in meta_role_variables %}
- `{{ variable.name }}`: {{ variable.description }} (Default: `{{ variable.default }}`)
{% endfor %}
{% else -%}
No role default variables specified, see [defaults/main.yml](defaults/main.yml).
{% endif %}

## Example Playbook

Example playbooks(s) that show how to use this role.

{% for example in read_examples %}
## {{ example.name }}

{{ example.description }}
```yaml
{{ example.code }}
```
{% endfor %}

## License, Author(s) and Contributors

This role is published under the [{{ meta_license }} License](LICENSE)

and was initially created in {{ meta_year_created }} by {{ meta_author }} (@{{ meta_namespace | default('jam82') }}).

{% if read_references | default([]) | length > 0 -%}
## References

{% for reference in read_references %}
- {{ reference }}
{% endfor %}
{%- endif %}

---
