---
# role: {{ role.namespace }}.{{ role.name }}
# file: requirements.yml

{% if requirements.collections | default([]) | length > 0 %}
collections:
{% for collection in requirements.collections %}
  - {{ collection }}
{% endfor %}
{% else %}
collections: []
{% endif %}

{% if requirements.roles | default([]) | length > 0 %}
roles:
{% for role in requirements.roles %}
  - {{ role }}
{% endfor %}
{% else %}
roles: []
{% endif %}
