---
# role: {{ role.namespace }}.{{ role.name }}
# file: requirements.yml

{% if requirements.collections | default([]) | length > 0 %}
{{ {"collections": requirements.collections} | to_nice_yaml }}
{% else %}
collections: []
{% endif %}

{% if requirements.roles | default([]) | length > 0 %}
{{ {"roles": requirements.roles} | to_nice_yaml }}
{% else %}
roles: []
{% endif %}
