# Ansible role {{ meta_role_name | default(inventory_hostname) }}

![GitHub](https://img.shields.io/github/license/{{ meta_namespace | default('jomrr') }}/ansible-role-{{ meta_role_name | default(inventory_hostname) }}) ![GitHub last commit](https://img.shields.io/github/last-commit/{{ meta_namespace | default('jomrr') }}/ansible-role-{{ meta_role_name | default(inventory_hostname) }}) ![GitHub issues](https://img.shields.io/github/issues-raw/{{ meta_namespace | default('jomrr') }}/ansible-role-{{ meta_role_name | default(inventory_hostname) }})

{% if meta_description is defined -%}
**{{ meta_description }}**
{% else -%}
**Ansible role for setting up {{ inventory_hostname }}**
{% endif %}

## Description

{% if read_description is defined -%}
{{ read_description }}
{% else -%}
Install and configure {{ inventory_hostname }} with Ansible.
{% endif %}

## Prerequisites

{{ read_prerequisites | default('This role has no special prerequisites.') }}

### System packages (Fedora)

- `python3` (>= 3.9)
{% if reqs_packages is defined -%}
{% for package in reqs_packages %}
- `{{ package }}`
{% endfor %}
{% endif %}

### Python (requirements.txt)

- ansible >= {{ meta_min_ansible_version }}
{% if reqs_pip is defined -%}
{% for pip in reqs_pip %}
- {{ pip }}
{% endfor %}
{% endif %}

## Dependencies (requirements.yml)

{% if reqs_collections | default([]) | length > 0 or reqs_roles | default([]) | length > 0 -%}
```yaml
{% if reqs_collections | default([]) | length > 0 -%}
collections:
{% for collection in reqs_collections %}
  - {{ collection | jomrr.dev.to_lintable_yaml }}
{% endfor %}
{% else -%}
collections: []
{% endif %}
{% if reqs_roles | default([]) | length > 0 -%}
roles:
{% for role in reqs_roles %}
  - {{ role | jomrr.dev.to_lintable_yaml  }}
{% endfor %}
{% else -%}
roles: []
{% endif %}
```
{% else -%}
This role has no dependencies.
{% endif %}

## Supported Platforms

{% if meta_platforms is defined -%}
| OS Family | Distribution | Version | Container Image |
|-----------|--------------|---------|-----------------|
{% for platform in meta_platforms %}
{% set platform_image = platform.distribution | lower | replace(' ','-') %}
{% for tag in platform.tags %}
{% if loop.first %}
| {{ platform.os_family }} | {{ platform.distribution }} | {{ tag }} | [{{ meta_namespace }}/molecule-{{ platform_image  }}:{{ tag }}]( https://hub.docker.com/r/{{ meta_namespace }}/molecule-{{ platform_image }} ) |
{% else -%}
| | | {{ tag }} | [{{ meta_namespace }}/molecule-{{ platform_image }}:{{ tag }}]( https://hub.docker.com/r/{{ meta_namespace }}/molecule-{{ platform_image }} ) |
{% endif %}
{% endfor %}
{% endfor %}
{% else %}
This role has no specific platform requirements.
{% endif %}

## Role Variables

{% if meta_role_variables is defined -%}
The following are the default variables that should be adjusted:

{% for variable in meta_role_variables %}
- `{{ variable.name }}`: {{ variable.description }} (Default: `{{ variable.default }}`)
{% endfor %}
{% else -%}
No role default variables specified, see [defaults/main.yml](defaults/main.yml).
{% endif %}

## Example Playbook

Example playbooks(s) that show how to use this role.

{% for example in read_examples %}
## {{ example.name }}

{{ example.description }}
```yaml
{{ example.code }}
```
{% endfor %}

## Author(s) and License

- :octocat:                 Author::    [{{ meta_namespace | default('jomrr') }}](https://github.com/{{ meta_namespace | default('jomrr') }})
- :triangular_flag_on_post: Copyright:: {{ meta_year_created }}, {{ meta_author }}
- :page_with_curl:          License::   [{{ meta_license | default('MIT') }}](LICENSE)

{% if read_references | default([]) | length > 0 -%}
## References

{% for reference in read_references %}
- {{ reference }}
{% endfor %}
{%- endif %}

---
