[tox]
minversion = 4.12
envlist = py3-ansible{8,9}
skipsdist = true

[testenv]
deps =
    ansible9: ansible == 9.*
    ansible8: ansible == 8.*
    anssible-lint
    molecule-plugins[podman]
commands =
    molecule test
setenv =
    TOX_ENVNAME={envname}-{env:uns:jam82}-{env:img:fedora}-{env:tag:latest}
    MOLECULE_EPHEMERAL_DIRECTORY=/tmp/.molecule/ansible-role-ca/{env:TOX_ENVNAME}
    ANSIBLE_FORCE_COLOR=1
    PY_COLORS=1
passenv =
    uns
    img
    tag

[testenv:lint]
deps =
    ansible-lint
commands =
    ansible-lint --strict
