---
# role: {{ role.namespace }}.{{ role.name }}
# file: meta/main.yml

galaxy_info:
  author: {{ role.author }}
  company: {{ role.company }}
  description: {{ role.description }}
  galaxy_tags:
{% for tag in role.galaxy_tags %}
    - {{ tag }}
{% endfor %}
  issue_tracker_url: {{ role.scm_base_url + '/' + role.namespace + '/' + role.name + '/issues' }}
  license: {{ role.license }}
  min_ansible_version: "{{ role.min_ansible_version }}"
  namespace: {{ role.namespace }}
  role_name: {{ role.name }}
