---
# name: ansible-roles
# file: playbooks/contributing.yml

- name: "PLAYBOOK | Contributing"
  hosts: "{{ target | default('all') }}"
  become: false
  gather_facts: false
  tasks:
    - name: "Generate CONTRIBUTING.md"
      ansible.builtin.template:
        src: 'CONTRIBUTING.md.j2'
        dest: "{{ ansible_host }}/CONTRIBUTING.md"
        mode: "0644"
