---
# name: ansible-roles
# file: playbooks/meta.yml

- name: "PLAYBOOK | Meta"
  hosts: "{{ target | default('all') }}"
  gather_facts: false
  tasks:
    - name: "Ensure that path exists"
      ansible.builtin.file:
        path: "{{ ansible_host }}/meta"
        state: directory
        mode: "0755"
    - name: "Generate meta/main.yml"
      ansible.builtin.template:
        src: "meta/main.yml.j2"
        dest: "{{ ansible_host }}/meta/main.yml"
        mode: "0644"
        validate: "ansible-lint %s"

    # Ansible develpers broke meta/requirements.yml in ansible-galaxy 2.17
    # https://github.com/ansible/ansible/issues/76030
    #
    # The most questionable statement in this issue:
    # "A stand alone role is not meant to depend on a collection [...]"
    #
    # Roles always depend on collections, so this is kind of interesting...
    # Or on what does the use of a module in a role e.g. community.general.apk
    # depend, if not on the collection community.general being installed?
    #
    # The official documentation still states that a combined requirements.yml
    # can be used for both roles and collections. And it can indeed be used
    # to manually install dependencies with ansible-galaxy from a combined file,
    # but not via meta/requirements.yml ...
    #
    # https://docs.ansible.com/ansible/latest/galaxy/user_guide.html#installing-roles-and-collections-from-the-same-requirements-yml-file
    # --------------------------------------------------------------------------
    # Installing roles and collections from the same requirements.yml fileïƒ
    #
    # You can install roles and collections from the same requirements files
    #
    # ---
    # roles:
    #   # Install a role from Ansible Galaxy.
    #   - name: geerlingguy.java
    #     version: "1.9.6" # note that ranges are not supported for roles

    # collections:
    #   # Install a collection from Ansible Galaxy.
    #   - name: community.general
    #     version: ">=7.0.0"
    #     source: https://galaxy.ansible.com
    # --------------------------------------------------------------------------
    #
    # No comment.
    # Going with collections/requirements.yml and role/requirements.yml for now.
    #
    # - name: "Generate meta/requirements.yml"
    #   ansible.builtin.template:
    #     src: "meta/requirements.yml.j2"
    #     dest: "{{ ansible_host }}/meta/requirements.yml"
    #     mode: "0644"
    #     validate: "ansible-lint %s"
